apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: book-store
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: book-store
  source: 
    repoURL: https://github.com/atkaridarshan04/CloudNative-DevOps-Blueprint.git
    targetRevision: main
    path: helm-chart
    helm:
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: mern-devops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true 